.hidden {
    display: none;
  }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.logo-container {
  margin-right: 10px; /* Adjust margin as needed */
}

.logo-image {
  width: 250px;
  height: auto;
}

.navigation-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-links li {
  margin-right: 10px; /* Adjust margin as needed */
}

.navigation-links li:last-child {
  margin-right: 0;
}

.create-group-button {
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 900;
}

.login {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.signup {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.profile-icon {
  color: #FF5A5F;
  font-size: 30px;
  transition: transform 0.1s ease;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  color: grey;
  font-size: 19px;
  transition: transform 0.2s ease;
}

.active .arrow-icon {
  transform: translateY(-50%) rotate(180deg);
}

.navigation-links li .fa-chevron-up{
  padding-right:3px;
  margin-left:0px;
  width:29px;
 }

 .navigation-links li .fa-user-circle{
  padding-right:24px;
 }
